.price {
    padding-top: 60px;
    &__title {
        text-align: center;
        position: relative;
        font-weight: 700;
        @include before__circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__inner {
        margin-top: 60px;
        display: grid;
        padding-left: 50px;
        padding-right: 50px;
        grid-template: repeat(3, 44px) / repeat(2, 1fr);
        grid-auto-rows: 44px;
        row-gap: 15px;
        column-gap: 300px;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        &-text {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        &-title {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: -20px;
                top: 4px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: $main-color;
            }
        }

    }
    &__descr {
        font-size: 12px;
        line-height: 18px;
    }
}